{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 41.5314496,
    "longitude": -8.6192306,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Início",
    "time_zone": "Europe/Lisbon",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "PT",
    "language": "pt",
    "radius": 100
  }
}